<ion-header>
  <ion-toolbar>
    <ion-title>
      Informacion Personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="contact"></ion-icon>
    <ion-label>Nombre de Usuario</ion-label>
    <ion-button fill="outline" slot="end">Editar</ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Fecha de nacimiento</ion-label>
    <ion-button fill="outline" slot="end">Editar</ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="fitness"></ion-icon>
    <ion-label>Numero de Rutiana por semana</ion-label>
    <ion-button fill="outline" slot="end">Editar</ion-button>
  </ion-item>
  <ion-card>
  <ion-card-header>

    <ion-card-title>Deportes Practicados</ion-card-title>
    <ion-img src="/assets/pelea.jpg"></ion-img>
  </ion-card-header>

  <ion-card-content>
    Cualquier disciplina
  </ion-card-content>
</ion-card>
</ion-content>
