<ion-header>
  <ion-toolbar>
    <ion-title>
      Training
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/saco.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Empezemos</ion-card-subtitle>
        <ion-card-title>Welcome To Training</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ahora podras visualizar como te fue en tu entrenamiento. Veras como puedes mejorar tu forma de entrenar y ser mas eficaz</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Ingresar</ion-label>

      </ion-list-header>
      <ion-item href="https://facebook.com">
      <ion-icon name="logo-facebook" color="medium"></ion-icon>
        <ion-label>  Iniciar Sesion con Facebook</ion-label>
      </ion-item>
      <ion-item href="https://gmail.com">
      <ion-icon name="mail" color="medium"></ion-icon>
        <ion-label>  Iniciar Sesion</ion-label>
      </ion-item>

    </ion-list>
</ion-content>
